@import "variables";
@import "typography";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $color--white;
}

::selection {
  background: $color--light-blue;
}

@import "../components/**/*.scss";
@import "../components/table/table.scss";
@import "../components/tag/tag.scss";
@import "../components/quiz-level/quiz-level.scss";
@import "../components/list/list.scss";
@import "../components/quiz-list-item/quiz-list-item.scss";