@import "variables";
@import "typography";

html,
body {
  margin: 0;
  padding: 0;
  background-color: $color--white;
}

::selection {
  background: $color--light-blue;
}

@import "../components/**/*.scss";
