@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: $color--black;
}

h1 {
  font-size: $font-size--34;
  font-weight: 700;
  line-height: 1.153;
  margin-top: $spacing-lg;
  margin-bottom: $spacing-sm;

  @media screen and (min-width: $break-point--sm) {
    font-size: $font-size--36;
    margin-bottom: $spacing-md;
  }
}

h2 {
  font-size: $font-size--28;
  font-weight: 300;
  line-height: 1.3;
  margin-top: $spacing-md;
  margin-bottom: $spacing-sm;

  @media screen and (min-width: $break-point--sm) {
    font-size: $font-size--30;
  }
}

p {
  font-size: $font-size--18;
  line-height: 1.625;
  margin-top: 0;
  margin-bottom: $spacing-md;

  @media screen and (min-width: $break-point--sm) {
    font-size: $font-size--19;
  }
}

strong {
  font-weight: 600;
}

ol, ul {
  font-size: $font-size--18;
  line-height: 1.625;

  @media screen and (min-width: $break-point--sm) {
    font-size: $font-size--19;
  }
}

@mixin title {
  font-size: $font-size--20;
  font-weight: 600;
  line-height: 1.4;
  margin-top: $spacing-sm;
  margin-bottom: $spacing-xs;

  @media screen and (min-width: $break-point--sm) {
    font-size: $font-size--22;
  }
}

@mixin subtitle {
  font-size: $font-size--18;
  font-weight: 300;
  line-height: 1.4;
  margin-top: $spacing-sm;

  @media screen and (min-width: $break-point--sm) {
    font-size: $font-size--19;
  }
}

@mixin tag {
  font-size: $font-size--14;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}