@font-face {
  font-family: KlavikaBold;
  src: url("../fonts/Klavika-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: KlavikaLight;
  src: url("../fonts/Klavika-Light.woff2");
  font-weight: 300;
}
