$font-size--24: 1.5rem;
$font-size--28: 1.75rem;
$font-size--36: 2.25rem;

$color--white: #fff;
$color--black: #000;
$color--black-a10: rgba(0, 0, 0, 0.1);
$color--black-600: #535353;
$color--gray-0: #f0f0f0;
