.header {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-md;
  margin-bottom: $spacing-lg;

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;

    &-image {
      height: 5.5rem;
      margin-right: 1rem;
    }
  }

  &__navigation {
    margin-top: 0.75rem;
  }
}
