.header {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-md;

  &__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;

    &-image {
      height: 5.5rem;
      margin-right: 1rem;
    }

    &--blur {
      transition: filter 100ms ease;
      -webkit-filter: blur(8px);
      -moz-filter: blur(8px);
      -o-filter: blur(8px);
      -ms-filter: blur(8px);
      filter: blur(8px);
    }
  }
}
