.link {
  color: $color--black;
  text-decoration-line: underline;
  text-decoration-color: $color--light-blue;
  text-decoration-thickness: 3px;
  transition: text-decoration-color 0.1s ease-in;

  &:hover {
    text-decoration-color: $color--blue;
  }
}