.menu {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0s, opacity 100ms;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  overflow: scroll;

  &--visible {
    visibility: visible;
    opacity: 1;
  }

  &__items {
    opacity: 0;
    transform: translateY(-1rem);
    transition: all 300ms ease;
    list-style: none;
    max-width: $page-width;
    margin: 0 auto;
    padding: 0 $spacing-sm;
    text-align: right;
    margin-top: 5rem;

    li {
      font-size: $font-size--34;
      font-weight: 700;
      margin: 0.5rem 0;
    }

    a {
      text-decoration: none;
      color: $color--black;

      &:hover {
        color: $color--blue;
      }
    }
  }

  &--visible &__items {
    opacity: 1;
    transform: translateY(0);
  }

  &__logout {
    margin-top: $spacing-lg;
  }
}