.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: $page-width;
  margin: 0 auto;
  padding: 0 $spacing-sm;

  &__content {
    flex-grow: 1;
  }

  &--blur &__content, &--blur &__footer {
    transition: filter 100ms ease;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);
  }
}
